<link rel="stylesheet" type="text/css" href="../assets/css/abcjs-midi.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/abcjs/3.1.1/abcjs_editor_midi-min.js"></script>
<script src="../assets/js/createScript.js"></script>
<textarea id="abc" rows="10" col="20"></textarea>
<div id="canvas" style></div>
<div id="warnings"> </div>
<div id="notation"></div>
<div id="midi">

</div>
  <div id="midi-download"></div>
<button id="saveCreation">Save</button>
<button id="makeMidi">MIDI</button>