<div class="container">
  <div class="row">
    <h2 class="text-center">Hone your skills with randomly generated
      scores!
      <br>
      <h2 class="text-center">Or, craft your own masterpiece!</h2>
  </div>
  <script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' +
        googleUser.getBasicProfile()
        .getName()
      );
      console.log(googleUser.getBasicProfile()
        .getId());
    }

    function onFailure(error) {
      console.log(error);
    }

    function renderButton() {
      gapi.signin2.render(
        'my-signin2', {
          'scope': 'profile email',
          'width': 240,
          'height': 50,
          'longtitle': true,
          'theme': 'dark',
          'onsuccess': onSuccess,
          'onfailure': onFailure
        });
    }
  </script>

  <script src="https://apis.google.com/js/platform.js?onload=renderButton"
    async defer></script>

  <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log(
          'User signed out.');
      });
    }
  </script>
  <div class="row">
    <div class="col-md-2"></div>

<<<<<<< HEAD
    <div class="col-md-4">
      <form method="GET" action="/random">
        <button type="submit" class="btn" title="Random"
          data-page="Select">Generate a random score</button>
      </form>
    </div>
    <div class="col-md-4">
      <form method="GET" action="/create">
        <button type="submit" class="btn" title="Create your own score?"
          data-page="Create">Create your own score</button>
      </form>
    </div>
  </div>
=======
<ul class="menu">
  <li>
    <form method="GET" action="/random">
      <button type="submit" title="Random" data-page="Select">Random</button>
    </form>
  </li>
  <li>
    <form method="GET" action="/create">
      <button title="Create your own score?" data-page="Create">Create</button>
    </form>
  </li>
</ul>
>>>>>>> 89ed38bfe3b2104e5d2290233daf84fd016b2f4b
