<div id="my-signin2"></div>


<script src="https://apis.google.com/js/platform.js?onload=renderButton"
  async defer></script>
<script src="./assets/js/indexScript.js"></script>

<a href="#" onclick="signOut();">Sign out</a>

<ul class="menu">
  <li>
  
      <button id="random" title="Random" data-page="Select">Random</button>
    
  </li>
  <li>
    <form method="GET" action="/create">
      <button title="Create your own score?" data-page="Create">Create</button>
    </form>
  </li>
</ul>