<div id="my-signin2"></div>
<script>
  function onSuccess(googleUser) {
    console.log('Logged in as: ' +
      googleUser.getBasicProfile().getName()
    );
    console.log(googleUser.getBasicProfile().getId());
  }

  function onFailure(error) {
    console.log(error);
  }

  function renderButton() {
    gapi.signin2.render('my-signin2', {
      'scope': 'profile email',
      'width': 240,
      'height': 50,
      'longtitle': true,
      'theme': 'dark',
      'onsuccess': onSuccess,
      'onfailure': onFailure
    });
  }
</script>

<script src="https://apis.google.com/js/platform.js?onload=renderButton"
  async defer></script>

<a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log(
        'User signed out.');
    });
  }
</script>

<ul class="menu">
  <li>
    <form method="GET" action="/random">
      <button type="submit" title="Random" data-page="Select">Random</button>
    </form>
  </li>
  <li>
    <form method="GET" action="/create">
      <button title="Create your own score?" data-page="Create">Create</button>
    </form>
  </li>
</ul>