<script src="../assets/js/sheet.js"></script>
<script src="../assets/js/randomScript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/abcjs/3.1.1/abcjs_plugin-min.js"></script>

<div class="row">
  <div class="col-md-9">

    <div id="canvas"></div>

  </div>
  <div class="col-md-3">
    

  </div>
</div>


<div class="row">
  <div class="col-md-6 text-right"></div>
  <div class="col-md-6">
    <button id="saveRandom">Save</button>
  </div>
</div>