<script src="../assets/js/sheet.js"></script>
<script src="../assets/js/randomScript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/abcjs/3.1.1/abcjs_plugin-min.js"></script>

<div id="canvas"></div>

<button id="saveRandom">Save</button>


